
![768px-NumPy_logo_2020.svg.png]()

# **STATISTICS WITH NUMPY**

---

### **Agenda**
*   Introduction
*   Data types
*   Array attributes
*   Indexing and Slicing
*   Iterating over an array
*   Statistical functions
*   Mulidimensional array
*   Broadcasting of an array

 ## **Introduction**


---

NumPy is a popular open-source Python library for numerical computing. It stands for "Numerical Python." NumPy provides support for large, multi-dimensional arrays and matrices, along with a vast collection of high-level mathematical functions to operate on these arrays efficiently.

### **How to install NumPy?**

In [1]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

### **How to import NumPy?**

In [2]:
import numpy as np

### **How to create an array using NumPy?**

In [3]:
array_2d = np.array([[7, 10, 18, 45],[99, 1, 17, 19]])

## **Data types**


---

List of Data types,


1.   **Integer** denoted as **int** - whole number is known as integer.
2.   **Floating-point type** denoted as **float** - decimal number is known as floating point.
3.   **Complex types** denoted as **complex** - numbers with both a real part and an imaginary part.
4.   **Boolean type** denoted as **bool** - represents True of False values.
5.   **String type** denoted as **str** - text.
6.   **Object type** denoted as **object** - array like structure.

### **How to find the datatype of an array?**

In [4]:
array_2d.dtype

dtype('int64')

## **Array Attributes**


---

In NumPy, arrays come with several attributes that provide valuable information about the array's properties and characteristics. These attributes can be accessed using dot notation after creating the array. Here are some of the most commonly used array attributes in NumPy:



1. **shape** : dimensions of the array(rows,columns)
```
array.shape
```
3.   **size** : total number of elements in the array.
```
array.size
```
4.   **ndim** : number of dimensions of the array.
```
array.ndim
```
5.   **itemsize** : size in bytes of each element in the array.
```
array.itemsize
```
6.   **nbytes** : total size in bytes of the array.
```
array.nbytes
```
7.   **real** : the real part of the complex array.
```
array.real
```
8.   **imag** : the imaginary part of the complex array.
```
array.imag
```

In [5]:
# To find the shape of the array.

array_2d.shape

(2, 4)

In [6]:
# To find the size of the array.

array_2d.size

8

In [7]:
# To find the dimensions of the array.

array_2d.ndim

2

In [8]:
# To find the item size of the array.

array_2d.itemsize

8

In [9]:
# To find the total size of the array in bytes.

array_2d.nbytes

64

In [10]:
# To find the real numbers present in the array.

array_2d.real

array([[ 7, 10, 18, 45],
       [99,  1, 17, 19]])

In [11]:
# To find the imagainary numbers present in the array.

array_2d.imag

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

## **Indexing and Slicing of an array**
---

### **Indexing :** Indexing allows you to access individual elements in the array by their position. Python arrays indexing are zero-based.Negative Indexing is used to access the array from last.

In [12]:
array_1d = np.array([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [13]:
print("The first element of the array is", array_1d[0])

The first element of the array is 1

In [14]:
print("The last element of the array is", array_1d[-1])

The last element of the array is 100

### **Slicing :** Slicing, allows you to extract a portion of the array, creating a new array that contains only the specified elements.

**start_index :** The index from which the slice starts (inclusive).

**stop_index :** The index where the slice ends (exclusive).

**step :** The step size between elements (optional).

#### Slicing a 1-D array.
---

In [15]:
# array.

array_1d

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [16]:
# This code slices the array from the 1st to 4th indexes.

array_1d[1:5]

array([ 4,  9, 16, 25])

In [17]:
# This code slices the array from the 0th to 3rd indexes.

array_1d[:4]

array([ 1,  4,  9, 16])

In [18]:
# This code slices the array from the 3rd index to the last index.

array_1d[3:]

array([ 16,  25,  36,  49,  64,  81, 100])

In [19]:
# This code slices every alternate elements of the array.

array_1d[::2]

array([ 1,  9, 25, 49, 81])

In [20]:
# This code reverses the array.

array_1d[::-1]

array([100,  81,  64,  49,  36,  25,  16,   9,   4,   1])

#### Slicing a 2-D array.
---

The first part slices the rows.

The second part slices the columns.

In [21]:
# 2-D array.

array_2d

array([[ 7, 10, 18, 45],
       [99,  1, 17, 19]])

In [22]:
# Slicing a 2-D array.

array_2d[0:1, 2:]

array([[18, 45]])

## **Iterating over an array.**
---

In NumPy, we can iterate over an array element-by-element using a variety of methods, including traditional loops and built-in NumPy functions.

### Iterating over a 1-D array using for loop.

In [23]:
# array.

array_1d

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [24]:
# using traditional for-loop.

for i in array_1d:
  print(i)

1
4
9
16
25
36
49
64
81
100

### Iterating over a 2-D array using for loop.

In [25]:
# 2-D array.

array_2d

array([[ 7, 10, 18, 45],
       [99,  1, 17, 19]])

In [26]:
# To print the elements of an 2-D array using nditer function.

for j in np.nditer(array_2d):
  print(j)

7
10
18
45
99
1
17
19

In [27]:
# To print both the indexes and values of an 2-D array using ndenumerate function.

for index, value in np.ndenumerate(array_2d):
  print(index,":",value)

(0, 0) : 7
(0, 1) : 10
(0, 2) : 18
(0, 3) : 45
(1, 0) : 99
(1, 1) : 1
(1, 2) : 17
(1, 3) : 19

## **Statistical Functions.**
---

NumPy provides a wide range of statistical functions that allow you to perform various statistical computations on arrays. Some of the most commonly used statistical functions in NumPy,

1.   Mean
```
np.mean(array)
```
2.   Median
```
np.median(array)
```
4.   Standard Deviation
```
np.std(array)
```
5.   Variance
```
np.var(array)
```
6.   Maximum & Minimum
```
np.max(array)
np.min(array)
```
7.   Percentile
```
np.percentile(array, percentile)
```
8.   Correlation
```
np.corrcoef(array)
```

In [28]:
# array.

array_1d

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [29]:
# To find the mean of an array.

print("The mean of the given array is",np.mean(array_1d))

The mean of the given array is 38.5

In [30]:
# To find the median of an array.

print("The median of the given array is",np.median(array_1d))

The median of the given array is 30.5

In [31]:
# To find the standard deviation of an array.

print("The standard deviation of the given array is",np.std(array_1d))

The standard deviation of the given array is 32.41990129534635

In [32]:
# To find the variance of an array.

print("The variance of the given array is",np.var(array_1d))

The variance of the given array is 1051.05

In [33]:
# To find the minimum value in an array.

print("The minimmum value present in the given array is",np.min(array_1d))

The minimmum value present in the given array is 1

In [34]:
# To find the maximum value in an array.

print("The maximum value present in the given array is",np.max(array_1d))

The maximum value present in the given array is 100

In [35]:
# To find the nth percentile of an array.

n = 25
print("The",n,"th percentile of the given array is", np.percentile(array_1d,n))

The 25 th percentile of the given array is 10.75

In [36]:
array_1 = np.array([10,20,30,40,50,60,70,80,90,100])

In [37]:
# To find the correlation coefficient of an array.

print("The correlation between the given array is \n",np.corrcoef(array_1d, array_1))

The correlation between the given array is
 [[1.         0.97455863]
 [0.97455863 1.        ]]

## **Multi-Dimensional Array**

In [38]:
# Creating an 2-D array.

array_2d = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [39]:
# Indexing.

array_2d[2,2]

9

In [40]:
# Slicing.

array_2d[:3, :1]

array([[1],
       [4],
       [7]])

## **Broadcasting of an array**

NumPy's broadcasting provides a potent and practical tool for executing actions on arrays with different shapes and dimensions.

If the arrays have different shapes, NumPy compares their dimensions starting from the last axis (trailing dimensions) and works backward. The dimensions are considered compatible if they are equal or if one of them is 1.

In [41]:
# creating an array.

array_2 = np.array([6,7,8,9])

In [42]:
# Broadcasting an array with scalar.

print(array_2 + 10)

[16 17 18 19]

In [43]:
# creating a 2-D array

array_3 = np.array([[1],[2],[3]])

In [44]:
# Broadcasting an array with a 2-D array.

result = array_2 + array_3

In [45]:
print(result)

[[ 7  8  9 10]
 [ 8  9 10 11]
 [ 9 10 11 12]]